// prettier-ignore
@mixin main-transition(
    $props: "all", 
    $dur: var(--transition-duration), 
    $func: var(--transitiion-func)) 
{
  transition-duration: $dur;
  transition-timing-function: $func;
  transition-property: #{$props};
}
