@mixin main-transition($props: "all") {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transitiion-func);
  transition-property: #{$props};
}

@mixin main-transition-focused($props: "all") {
  @include main-transition($props);
  @include focused {
    @content;
  }
}
