@mixin focused() {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
  &:focus-visible {
    @content;
  }
}

@mixin non-interactive() {
  pointer-events: none;
  user-select: none;
  @content;
}

@mixin smooth-scrolling($flag) {
  @if ($flag) {
    html {
      // chrome://flags/#smooth-scrolling
      scroll-behavior: smooth;
    }
  } @else {
    html {
      scroll-behavior: auto;
    }
  }
}

@mixin hidden($flag: true) {
  @if ($flag == true) {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  } @else if ($flag == false) {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
}
