.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;

  &__link {
    @extend %link;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    @include transition("color");

    @include focused {
      color: var(--color-primary);
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }
}
