.burger-btn {
  @extend %btn;

  position: relative;
  width: 40px;

  background-color: transparent;

  @media screen and (width > $bp-tablet) {
    display: none;
  }

  &__line {
    position: absolute;

    height: 1px;
    width: 20px;

    background-color: var(--color-dark);
    @include main-transition("transform");

    &:first-child {
      top: 16px;
    }
    &:last-child {
      top: 24px;
    }
  }
}

.burger-btn--active {
  &:active {
    .burger-btn__line:first-child {
      transform: translateY(4px) rotate(45deg);
    }
    .burger-btn__line:last-child {
      transform: translateY(-4px) rotate(-45deg);
    }
  }
}
