.category {
  display: flex;
  gap: 8px;

  &__item {
    display: flex;

    border-radius: 12px;
    overflow: hidden;

    // show outline only if input was focused with Tab
    &:has(:focus-visible) {
      outline: auto;
    }
  }

  &__label {
    @extend %subtitle;
    @extend %custom-pointer;

    display: flex;
    height: 40px;
    padding: 12px 20px;

    color: var(--color-static-white);

    @include main-transition("background-color");
  }

  &__input {
    appearance: unset;
    /* IOS < 15: remove gradient background */
    background-color: #fff;
    margin: 0;
  }

  &__input:checked ~ &__label,
  &__input:hover ~ &__label,
  &__input:focus-visible ~ &__label {
    background-color: var(--color-static-white-20);
  }

  &__input:checked ~ &__label {
    @include non-interactive {
      cursor: default;
    }
  }
}
