.gift-card {
  @extend %link;

  //flex: 1;

  display: flex;
  flex-direction: column;
  height: 342px;

  background: var(--color-content-bg);
  border-radius: 20px;

  overflow: hidden;

  @include focused {
    .gift-card__title {
      color: var(--color-primary);
    }
  }

  &__thumb {
    background-color: transparent;
    height: 230px;
  }

  &__desc {
    flex-grow: 1;
    padding: 20px;

    background-color: var(--color-static-white);
    border-radius: 20px;
  }

  &__tag {
    @extend %subtitle;
  }

  &__title {
    @extend %gift-card-title;

    max-height: 50px;
    margin-top: 9px;

    overflow: hidden;
    text-overflow: ellipsis;

    @include main-transition("color");
  }
}
