.gift-card {
  @extend %link;

  flex: 1;

  display: flex;
  flex-direction: column;
  height: 342px;

  background: var(--color-content-bg);
  border-radius: 20px;

  overflow: hidden;

  @include focused {
    .gift-card__title {
      color: var(--color-primary);
    }
  }

  &__thumb {
    background-color: transparent;
    height: 230px;
  }

  &__desc {
    flex-grow: 1;
    padding: 20px;

    background-color: var(--color-static-white);
    border-radius: 20px;
  }

  &__tag {
    @extend %subtitle;
  }

  &__title {
    margin-top: 9px;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 50px;

    @include main-transition("color");

    @media screen and (width < $bp-mobile-s) {
      word-break: break-all;
    }
  }
}
