.site-nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.site-nav__link {
  @extend %link;
  @extend %subtitle;

  display: block;
  padding: 14px 20px;
  height: 40px;

  border-radius: 12px;

  @include main-transition("color, background-color");

  @include focused {
    color: var(--color-primary);
    background-color: var(--color-primary-10);
  }
}

.site-nav__link--non-interactive {
  @extend .site-nav__link;

  @include focused {
    color: unset;
    background-color: unset;
  }
}
