.site-nav {
  display: flex;
  align-items: center;
  gap: 8px;

  &__link {
    @extend %link;

    display: block;
    padding: 12px 20px;
    height: 40px;

    border-radius: 12px;

    @include main-transition("color, background-color");

    @include focused {
      color: var(--color-primary);
      background-color: var(--color-primary-10);
    }
  }
}
