%btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  border-style: none;
}

%btn-base {
  @extend %btn;
  @extend %custom-pointer;

  height: 56px;
  border-radius: 20px;
  color: var(--color-static-white);

  @include main-transition("color, background-color");
}

%slider-control {
  @extend %btn-base;

  width: 56px;

  background-color: transparent;
  color: var(--color-static-white);
  border: 1px solid currentColor;

  @include focused {
    color: var(--color-primary);
    background-color: var(--color-static-white);
  }
}
