%link {
  @extend %custom-pointer;
  color: var(--color-dark);
}

%link-btn {
  @extend %link;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 56px;
  padding-left: 32px;
  padding-right: 32px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: var(--color-static-white);
  background-color: var(--color-dark);

  @include main-transition("color, background-color");
  border-radius: 20px;

  @include focused {
    color: var(--color-dark);
    background-color: var(--color-static-white);
  }
}
