%container {
  width: var(--section-width);
  padding: 0 82px;
  margin: 0 auto;
}

%section-padding {
  padding: var(--section-padding-ver) var(--section-padding-hor);
}

%section-heading {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

%section-bg {
  @include bg(
    $color: var(--color-primary),
    $img: url("./../../images/png/bg-snow.png"),
    $repeat: no-repeat,
    $pos: center,
    $sz: cover
  );
}

%hero-bg {
  @include bg(
    $color: var(--color-primary),
    $img: (
      url("./../../images/png/bg-snow.png"),
      url("./../../images/png/bg-ball.png"),
    ),
    $repeat: no-repeat,
    $pos: center,
    $sz: cover
  );
}

%cta-bg {
  @include bg(
    $color: var(--color-primary),
    $img: (
      url("./../../images/png/bg-snow.png"),
      url("./../../images/png/bg-forest.png"),
    ),
    $repeat: no-repeat,
    $pos: top,
    $sz: cover
  );
}

%gifts-bg {
  @include bg(
    $color: var(--color-primary),
    $img: url("./../../images/png/bg-garland.png"),
    $repeat: no-repeat,
    $pos: top,
    $sz: contain
  );
}
