$bp-for-block-rearrange: 656px;

.about {
  &__container {
    @extend .container;
    @extend %section-bg;

    padding-top: var(--section-padding-ver);
    padding-bottom: var(--section-padding-ver);
  }

  &__inner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    border-radius: 20px;
    background-color: var(--color-content-bg);
    overflow: hidden;

    @media screen and (width > $bp-for-block-rearrange) {
      flex-direction: row;
    }
  }

  &__desc {
    display: flex;
    align-items: center;
    padding: 60px 20px;

    @media screen and (width > $bp-for-block-rearrange) {
      flex-basis: 50%;
      padding: 0 60px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 426px;
  }

  &__caption {
    @extend %caption-curly;
    color: var(--color-primary);
  }

  &__title {
    @extend %title;
    text-align: left;
  }

  &__para {
    @extend %paragraph;
  }

  &__thumb {
    height: 528px;
    border-radius: 20px;
    width: 100%;

    @media screen and (width > $bp-for-block-rearrange) {
      flex-basis: 50%;
    }

    // prettier-ignore
    @include bg(
      $img: url("./../../images/about/santa.png"), 
      $repeat: no-repeat, 
      $pos: center,
      $sz: cover
    );
  }
}
