.best-gifts {
  &__container {
    @extend .container;
    @extend %section-bg;

    padding-top: var(--section-padding-ver);
    padding-bottom: var(--section-padding-ver);
  }

  &__heading {
    @extend %section-heading;
  }

  &__caption {
    @extend %caption-curly;
  }

  &__title {
    @extend %title;
    color: var(--color-static-white);
  }

  &__cards {
    margin-top: 20px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;

    @media (width <= 1220px) {
      padding: 0 smooth-out($bp-tablet, 0px, 1220px, 200px);
    }
  }

  &__item {
    max-width: 310px;
    min-width: 260px;

    flex-basis: calc-item-width(4, 12px);

    @media (width <= 1220px) {
      flex-basis: calc-item-width(2, 12px);
    }
    @media (width <= 565px) {
      flex-basis: 310px;
    }
  }
}
