.best-gifts {
  &__container {
    @extend .container;
    @extend %section-bg;

    padding: var(--section-padding-ver) 8px;
  }

  &__heading {
    @extend %section-heading;
  }

  &__caption {
    @extend %caption-curly;
  }

  &__title {
    @extend %title;
    color: var(--color-static-white);
  }

  &__cards {
    margin-top: 20px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;

    @media (width <= 1310px) {
      padding: 0 smooth-out($bp-tablet, 0px, 1310px, 200px);
    }
  }

  &__item {
    width: 310px;
    flex-shrink: 0;
  }
}
