.best-gifts {
  &__container {
    @extend %container;
    @extend %section-padding;
    @extend %section-bg;

    height: 554px;
  }

  &__heading {
    @extend %section-heading;
  }

  &__caption {
    @extend %caption;
  }

  &__title {
    @extend %section-title;
    color: var(--color-static-white);
  }

  &__cards {
    margin-top: 20px;
  }

  &__list {
    display: flex;
    gap: 12px;
  }
}
