.gifts {
  &__container {
    @extend .container;
    @extend %gifts-bg;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: var(--section-padding-ver) var(--section-padding-hor);
    border-radius: 20px;
  }

  &__title {
    @extend %page-title;
    width: 426px;
  }

  &__cards {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }
}
